html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #1e1e1e, #2c2c2c);
  color: #f0f0f0;
}

#layout-root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.navbar {
  height: 50px;
  width: 100%;
  background-color: #1e1e1e;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar ul {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  list-style: none;
  justify-content: space-between;
  padding: 0;
  align-items: center;
}

.navbar li {
  display: flex;
  align-items: center;
}

.navbar a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 18px;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  gap: 8px;
}

.navbar a:hover {
  background-color: #2c2c2c;
  color: #ffffff;
  text-decoration: none;
}

#page-content {
  flex: 1;
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
}

footer {
  flex-shrink: 0;
  text-align: center;
  font-size: 0.9em;
  color: #aaa;
  padding: 10px 0;
}


/* רספונסיביות לפלאפונים */
@media (max-width: 600px) {
  .navbar ul {
    flex-direction: column;
    gap: 10px;
  }

  .navbar {
    padding: 10px;
  }

  .navbar a {
    font-size: 14px;
    padding: 10px;
  }
}