html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Consolas, monospace;
    background-color: #1e1e1e;
    color: white;
    overflow: hidden;
  }

/*=============navigation bar==============*/

  .navbar{
    width: 100%;
    height: 40px;
    background-color: #1e1e1e;
    display: flex;
    overflow: hidden;
    
  }
  .navbar ul{
    background-color: #ff0000;
    list-style: none;
    align-items: center;
    display: flex;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .navbar a{
    background-color: hsl(0, 0%, 100%);
    border-right:1px solid hsl(0, 12%, 7%);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
    padding: 15px;
    text-align:center;
    color: black;
    display: block;
    
  }
  .navbar li{
    text-align: center;
    background-color: rgb(73, 14, 225);
    flex: 1;
  }
  .navbar a:hover{
    background-color: hsl(0, 90%, 49%);
  }

/*=============navigation bar==============*/


  #ide-container {
    display: flex;
    height: 100%;
    width: 100%;
  }
/*=============side bar==============*/
  #sidebar {
    width: 60px;
    background-color: #2c2c2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    border-right: 1px solid #1a1a1a;
  }

  #sidebar button {
    background: none;
    border: none;
    color: #cccccc;
    margin: 10px 0;
    padding: 10px 0;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.2s, color 0.2s;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
  }

  #sidebar i {
    width: 24px;  /* היה 20px */
    height: 24px;
  }
  

  #sidebar button:hover {
    background-color: #3c3c3c;
    color: white;
  }

  #sidebar button.active {
    background-color: #0e639c;
    color: white;
    
  }
/*=============side bar==============*/
  #main-area {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .side-panel {
    background-color: #1e1e1e;
    border-bottom: 1px solid #333;
    color: #ccc;
    padding: 10px;
    font-size: 14px;
    display: none;
  }

  .modal {
    position: fixed;
    top: 20%;
    left: 30%;
    background-color: #2c2c2c;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 6px;
    color: white;
    z-index: 1000;
  }
  
  
  .modal-content button {
    margin-top: 10px;
    background: #0e639c;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
  }

  #toolbar {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #444;
  }

  #run-button {
    background-color: #0e639c;
    border: none;
    color: white;
    padding: 6px 14px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }

  #run-button:hover {
    background-color: #1177bb;
  }

  #editor {
    flex: 1;
    margin: 10px 0;
  }

  #bottom-bar {
    background-color: #1e1e1e;
    border-top: 1px solid #333;
    padding: 8px 10px;
    margin: 10px 0;
    font-size: 14px;
    color: #0f0;
    white-space: pre-wrap;
    height: 150px;
    overflow-y: auto;
  }

#panel-explorer {
    display: none;
    width: 60px;
    background-color: #2c2c2c;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    border-right: 1px solid #1a1a1a;
    overflow-y: auto;
    gap: 6px;
  }
#explorer-container{
    border:3px solid red;
    display: flex;
    flex-direction: row;
    width: 15%;
    text-align: center;
    flex-wrap: wrap;
    align-content: first baseline;
}
#explorer-container h4{
   background-color: #0e639c;
   flex: auto;
   border: 2px solid red;
   margin-top: 0px;
   padding: 25px;
   align-self: flex-start;
   overflow-y: auto;   
   
}  
#file-list{
    display: flex;
    overflow-y: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;

}
.file-item {
    cursor: pointer;
    padding:5px 0px;
    border-radius: 4px;
    border: 1px solid red;
    display: flex;
    flex:1;
    
}

.file-item:hover {
      background-color: #2a2d2e;
}