<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/lucide@latest"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <title>{% block title %}CodeForge{% endblock %}</title>
    {% block style %}
    {% endblock %}
</head>
<body>
    {% if current_user.is_authenticated %}
    <nav class="navbar">
        <ul>
            <li><a title="Home Page" href="{{ url_for('home') }}"><i data-lucide="house"></i></a></li>
            <li><a title="Exercises Page" href="{{ url_for('exercises') }}"><i data-lucide="library-big"></i></a></li>
            <li><a title="Profile Page" href="Profile"><i data-lucide="square-user-round"></i>{{ current_user.username }}</a></li>
            <li><a title="Logout" href="{{ url_for('logout') }}"><i data-lucide="log-out"></i></a></li>
        </ul>
    </nav>
    {% else %}
    <nav class="navbar">
        <ul>
            <li><a title="Login" href="{{ url_for('login') }}"><i data-lucide="log-in"></i> Sign-in</a></li>
            <li><a title="Register" href="{{ url_for('register') }}"><i data-lucide="user-plus"></i> Sign-up</a></li>
        
        </ul>
    </nav> 
    {% endif %}   
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p class="footer">&copy;2025 CodeForge. All rights reserved.</p>
    </footer>
    {% block script %}
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            lucide.createIcons({
                attrs: {
                width: 36,
                height: 36,
                stroke: '#ccc',
                'stroke-width': 1.5
                }
            });
        })    
    </script>
    {% endblock %}
</body>
</html>
