<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#0e639c">
  <!-- Font: Poppins -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <!-- Favicon & manifest -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='assets/logo.png') }}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ url_for('static', filename='assets/web-app-manifest-192x192.png') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='assets/apple-touch-icon.png') }}">
  <title>{% block title %}CodeForge{% endblock %}</title>

  <!-- Base stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  {% block style %}{% endblock %}
  {% block head_scripts %}
    <script src="https://unpkg.com/lucide@latest"></script>
  {% endblock %}
</head>
<body>
  <div id="layout-root">
  {% if not hide_navbar %} 
    {% if current_user.is_authenticated %}
    <nav class="navbar">
      <ul class="desktop-nav" id="user-nav">
        
        <li><a href="{{ url_for('home') }}" title="Home"><i data-lucide="home"></i>Home</a></li>
        <li><a href="{{ url_for('exercises') }}" title="Exercises"><i data-lucide="library-big"></i> Exercises</a></li>
        <li><a href="{{ url_for('editor') }}" title="Editor"><i data-lucide="terminal"></i> Editor</a></li>
        <li><a href="{{ url_for('profile') }}" title="Profile"><i data-lucide="user-circle"></i> {{ current_user.username }}</a></li>
        <li><a href="{{ url_for('logout') }}" title="Logout"><i data-lucide="log-out"></i>Logout</a></li>
      </ul>
    </nav>
    {% else %}
    <nav class="navbar">
      <ul class="desktop-nav">
        <li><a href="{{ url_for('login') }}"><i data-lucide="log-in"></i> Sign-in</a></li>
        <li><a href="{{ url_for('register') }}"><i data-lucide="user-plus"></i> Sign-up</a></li>
        <li><a href="{{ url_for('exercises') }}"><i data-lucide="library-big"></i> Exercises</a></li>
        <li><a href="{{ url_for('editor') }}"><i data-lucide="terminal"></i> Editor</a></li>
      </ul>
    </nav>
    {% endif %}
  {% endif %}
    <main id="page-content">
      {% block content %}{% endblock %}
    </main>

    <footer>
      <p class="footer">&copy;2025 CodeForge. All rights reserved.</p>
    </footer>
  </div>

  {% block script %}
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      lucide.createIcons({
        attrs: { width: "clamp(16px, 4vw, 22px)", height:  "clamp(16px, 4vw, 22px)", stroke: "#ccc", "stroke-width": 1.5 },
      });
    });
  </script>
  {% endblock %}
</body>
</html>
