<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeForge</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
</head>
<body>

<header>
    <h1>Welcome to CodeForge</h1>
    <p>Please sign in or register to continue</p>
</header>
<div class="buttons">
    <div>
        <a href="{{ url_for('login') }}">Sign In</a>
        <a href="{{ url_for('register') }}">Sign Up</a>
    </div>
    <div>
        <a href="{{ url_for('home') }}">Continue as Guest</a>
    </div>
</div>

<div id="flash-message-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% set category, message = messages[0] %}
            <div class="flash-message {{ category }}">
                {{ message }}
            </div>
        {% endif %}
    {% endwith %}
</div>

<footer class="footer">
    <p>&copy; 2025 CodeForge – Practice, Learn, and Forge Your Coding Skills</p>
</footer>
</body>
</html>
