<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
    <title>התחברות</title>
</head>
<body>
    <div id="flash-message-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% set category, message = messages[0] %}
                <div class="flash-message {{ category }}">
                    {{ message }}
                </div>
            {% endif %}
        {% endwith %}
    </div>

    <div class="form-container">
        <h2>Login</h2>
        <form method="POST">
            <label for="username">User Name:</label>
            <input type="text" name="username" required>

            <label for="password">Password:</label>
            <input type="password" name="password" required>

            <button type="submit">Sign in</button>
        </form>
        <p> חדש פה <a href="{{ url_for('register') }}">הרשם כאן</a></p>
    </div>
</body>
</html>
