<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_2.css') }}">
    <title>עמוד הנעדרים</title>
</head>
<body>

    <h1>ברוך הבא לנעדרים</h1>

    <div class="image-container">
        <img src="{{ url_for('static', filename='assets/miss.png') }}" alt="נעדר">
    </div>

    <a href="/" class="back-button">⬅ חזרה לדף הראשי</a>
   
</body>
</html>
